.size-form {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $sleek_grey;
	width: 100%;
  height: 80px;
  flex-shrink: 0;
  border-bottom: 2px solid $forest;
  box-sizing: border-box;
}

.size-form__label {
	margin-right: 10px;
	height: 50%;
	font-size: 2rem;
	& input {
		box-sizing: border-box;
		border-radius: 7px;
		height: 100%;
	}
}

.size-form__button {
	box-sizing: border-box;
	border-radius: 7px;
	height: 50%;
	font-size: 1.8rem;
}
